/* © 2025 Om Kanabar.
More info in LICENSE */

:root{
    --white: #fefcf7;
    --cream: #e8e5dd;
    --dark: #191919;
    --gray: #6b7c85;
    --dark-text-title: #ffb300;
    --light-text: #233c4a;
    --black: #111111;
    --navy: #0b1623;
    --accent: #d4a017;
    --blue-grey: #434e54;
    --trans: 0.2s ease;
}



/*************************************************************
 *                                                           *
 *              !!! LIGHT MODE FROM NOW ON !!!               *
 *  All styles below this line are for the light mode theme  *
 *                                                           *
 *************************************************************/
