/* © 2025 Om Kanabar.
More info in LICENSE */

:root{
    --white: #fefcf7;
    --black: #111111;
}
.terminal{
    font-family: 'Menlo', sans-serif;
    color: var(--white);
    font-size: 1.5em;
}

.t-green{
    color: #4AF262;
}

.t-blue{
    color: #0080ff;
}

.t-url-white{
    color: var(--white);
}

.t-url-white:hover{
    color: rgb(145, 145, 145);
}

.t-url-black{
    color: var(--black);
}

.t-url-black:hover{
    color: rgb(145, 145, 145);
}

.t-white{
    color: var(--white)
}

.t-black{
    color: var(--black);
}

.t-purple{
    color: #ff00ff;
}

body .terminal,
html .terminal{
    background-color: var(--black);
}

.hidden{
    height: 0;
    width: 0;
    opacity: 0;
    display: none;
}


/*************************************************************
 *                                                           *
 *              !!! LIGHT MODE FROM NOW ON !!!               *
 *  All styles below this line are for the light mode theme  *
 *                                                           *
 *************************************************************/

 .terminal .light{
    background-color: var(--white);
    color: var(--black);
 }

 