/*
© 2025 Om Kanabar. All rights reserved.

This source code is licensed for personal use and educational purposes only.
Unauthorized reproduction, distribution, or commercial use is prohibited without explicit permission.
Contact: okanabar@cps.edu
*/
html,
body{
    background-color: #fefcf7;
}
.title{
    display: flex;
    width: 100vw;
    height: 65vh;
    background-color: #191919;
}
.title p{
    color: #fcba03;
    font-family: Cal Sans;
    font-size: 6em;
    padding-top: 5vh;
    padding-left: 3vw;
}
.title .vertical-divider {
    width: 2.5px;
    height: 65vh;
    background-color: #fefcf7;
    margin: 0 10px;
    margin-left: 5em;
}